<div class="container bootdey">
  <div class="profile-page">
      <div class="page-header header-filter" data-parallax="active" style="transform: translate3d(0px, 0px, 0px); background-image: url(https://bootdey.com/img/Content/bg1.jpg);"></div>
      <div class="main main-raised">
        <div class="profile-content">
              <div class="container">

                  <div class="row">
                      <div class="col-xs-6 col-xs-offset-3">
                       <div class="profile">
                              <div class="avatar">
                                  <img src="./assets/anis.jpg" alt="Circle Image" class="img-circle img-responsive img-raised">
                              </div>
                              <div class="name">
                                  <h3 class="Name">Ghabi Anis</h3>
                                  <h6>Web Developer</h6>
                                  <a href="https://github.com/ghabianis" class="btn btn-just-icon btn-simple btn-dribbble" target="_blanck"><i class="fab fa-github" ></i></a>
                                  <a href="https://www.linkedin.com/in/ghabi-anis/" class="btn btn-just-icon btn-simple btn-twitter" target="_blanck"><i class="fab fa-linkedin"></i></a>
                                  <a href="http://ghabianis.me/My-Portfolio/" class="btn btn-just-icon btn-simple btn-pinterest" target="_blanck"><i class="fas fa-hand-paper"></i></a>
                              </div>
                          </div>
                    </div>
                      <div class="col-xs-2 follow"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
